<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div>
      <h1><%= title %></h1>
      <h2>Usuário:<%= message.userName %></h2>
      <h3>Mensagem: <%= message.messageBody %></h3>
      <p>Created: <%= message.createdAt %></p>
      <p><%= message._id %></p>
    </div>
    
      <button>delete</button>
    </form>
    <button id="addFormButton">Update</button>
    </form>
    <script>
      document
        .getElementById("addFormButton")
        .addEventListener("click", function () {
          let formHTML = `
          <form method="POST" action="/message/update/<%= message._id  %>">
          <label for="messageBody">Updated Message</label>
          <textarea id="messageBody" name="messageBody" required></textarea>
          <button>confirm</button>
          </form>
        `;
          this.insertAdjacentHTML("afterend", formHTML);
        });
    </script>
  </body>
</html>
