<!DOCTYPE html>
<html>
  <head>
    <title>Mini Message</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div>
      <h1>Messages</h1>
      <% if(messages.length > 0) {%> <% messages.forEach(message => {%>
      <a href="/message/<%= message._id %>">
        <p style="font-weight: 800">
          <%= message.messageBody %> <span>- <%= message.userName %></span>
        </p>
        <p><%= message.createdAt %></p>
      </a>
      <% }); } else { %>
      <p>There are no blogs available</p>
      <% } %>
    </div>
  </body>
</html>
